@page "/EditNote/{NoteId:guid}"
@using SimpleNotes.Contracts
@using SimpleNotes.PageModels
@using SimpleNotes.Services
@inject NavigationManager NavigationManager
@inject INotesService NotesService

<h3>Edit Note</h3>

@if (!string.IsNullOrEmpty(_alertMessage))
{
    <Alert IsSuccess="@_isSuccess" AlertMessage="@_alertMessage" />
}

<div class="edit-form-container">
    <EditForm Model="@_newNote" OnValidSubmit="EditNoteAction">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <div class="form-group">
            <label for="title">Title</label>
            <InputText id="title" class="form-control" @bind-Value="_newNote.Title"/>
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <InputTextArea id="content" class="form-control" @bind-Value="_newNote.Content"/>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
</div>

@code {
    [Parameter] public Guid NoteId { get; set; }

    private NoteModel _newNote = new();
    
    private string _alertMessage = "";
    private bool _isSuccess;

    protected override async Task OnInitializedAsync()
    {
        var response = await NotesService.GetByIdAsync(new GetNoteByIdRequest(NoteId));
        
        if (!response.IsError)
        {
            _newNote = new NoteModel
            {
                Id = NoteId,
                Title = response.Value.Title,
                Content = response.Value.Content
            };
        }
    }

    private async Task EditNoteAction()
    {
        var request = new UpdateNoteRequest(_newNote.Id, _newNote.Title, _newNote.Content);
        var response = await NotesService.UpdateAsync(request);

        if (!response.IsError)
        {
            _alertMessage = "Note edited successfully";
            _isSuccess = true;
            StateHasChanged();
            await Task.Delay(2000);
            
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _alertMessage = response.FirstError.Description;
            _isSuccess = false;
            StateHasChanged();
        }
    }

}